version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: assetdb
      POSTGRES_USER: assetuser
      POSTGRES_PASSWORD: assetpass
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build: ./smart-asset-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  postgres_data:
